@using DenMarkTest.web.ViewModel
@using DenMarkTest.core.Abstract
@using DenMarkTest.DataAccessLayer.Entities
@using DenMarkTest.common.Utilities
@inject ITestService  _service

@{
    ViewData["Title"] = "AtheleteDetails";

}

<div class="row">
    @{
        var id = Convert.ToInt32(ViewData["TestParticipantsId"]);
    }

    <div class="col-md-3">

    </div>

    <div class="col-md-6">
        <h4>Change Data for Athelete</h4>
        <section>
            <form asp-action="AtheleteDetails" method="post" asp-antiforgery="true">
                <hr />
                @{ 
                    var tpants = await _service.getTestParticipant(id);
                }
                <div class="form-group">
                    <label class="text-success">Name</label>

                    <select class="form-control" name="participantId">
                   <option value="@tpants.Participant.id" selected>@tpants.Participant.fname @tpants.Participant.lname</option>

                        @{
                var users = await _service.ListUsers();
        foreach (var item in users)
        {
                    <option value="@item.id">@item.fname @item.lname</option>

}
                        }
                    </select>

                </div>

                <div class="form-group">
                    <label class="text-success">Distance</label>
                   <input type="number" class="form-control" name="distance" value="@tpants.Result" required/>

                    <input type="hidden" value="@ViewData["TestParticipantsId"]" name="TestParticipantsId" />
                </div>


                <div class="form-group">
                    <a asp-action="DeleteParticipant" asp-route-id="@ViewData["TestParticipantsId"]">

                        <input type="button" value="Delete Athelete From Test" class="btn btn-block" />
                    </a>
                    <br/>
                    <button type="submit" class="btn btn-block">Update record</button>
                </div>
            </form>
        </section>
    </div>

    <div class="col-md-3">

    </div>


</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




